.wrapper {
	display: flex;
	margin: 50px 0px 0px 50px;
}

.message_wrapper {
	width: 600px;
	height: 200px;
	background: #fff; 
	border: 3px solid rgb(95, 95, 95);
	border-radius: 20px;
}

.logoContainer {}

.logo {
	width: 90px;
	height: 90px;
	background-image: url("https://cdn.pixabay.com/photo/2017/01/05/11/24/christmas-tree-1954838_960_720.jpg");
	border-radius: 20px;
	margin-right: 30px;
}

.userName {
	font-size: 25px;
	margin: 5px 0px 0px 0px;
}

.par {
	font-size: 20px;
	font-family: arial;
	margin-left: 15px;
}